Package: com.jeffresc.shortlook.plugin.contact-photo.twitch
Name: Twitch Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0
Architecture: iphoneos-arm
Description: Show Twitch users' profile pictures in ShortLook when you receive a Twitch notification!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
